= form_for @<%= singular_table_name %> do |f|
  - if @<%= singular_table_name %>.errors.any?
    #error_explanation
      %h2= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"
      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .row.<%= attribute.name %>
    .input-field.col.s12
<% if attribute.name.include?('tags') -%>
      = f.label :<%= attribute.name %>
      = f.hidden_field :<%= attribute.name %>
      #chips_<%= attribute.name %>.chips.chips-autocomplete
<% else -%>
      = f.label :<%= attribute.name %>
      = f.<%= attribute.field_type %> :<%= attribute.name %><%= attribute.field_type == :date_select ? ", class: 'datepicker'" : ''%>
<% end -%>
<% end -%>
  .actions.row
    %button.btn-large.waves-effect.waves-light.m-top-1.right{type: 'submit'}
      = t(:save)
      %i.material-icons.right chevron_right
