.container
  %h1
    = t(:listing)
    <%= plural_table_name %>

  %table.table
    %thead
      %tr
<% for attribute in attributes -%>
        %th <%= attribute.human_name %>
<% end -%>
        %th
        %th
        %th

    %tbody
      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
<% for attribute in attributes -%>
          %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
          %td= link_to t(:show), <%= singular_table_name %>
          %td= link_to t(:edit), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
          %td= link_to t(:destroy), <%= singular_table_name %>, :method => :delete, :data => { :confirm => t(:are_you_sure) }

  %br

  = link_to  new_<%= singular_table_name %>_path, class: 'btn right' do
    = t(:new)
    <%= human_name %>
    %i.material-icons.right chevron_right
